.form {
  background-image: url(src/assets/img/curtains.png);
  background-size: cover;
  background-color: #fcfcf0;
  display: block;
}
.form h3 {
  font-family: "Helvetica Neue", serif;
}
.form sup {
    color: red;
}
.form form button {
    border: 1px solid black;
    font-size: 20px;
    padding: 0.4em 1em;
    color: black; /*solid;*/
}
.form .order {
    font-size: 25px;
}
.form button:hover{
    text-decoration: underline;
}
@media screen and (max-device-width: 1600px) {
    .form .container {padding: 8%!important;}
}
@media screen and (max-device-width: 630px){
    .form .order {font-size: 15px;}
}
@media (min-width: 992px) {
  .form .container {max-width: 895px;}
}
