<div class="container text-center mt-3">
  <h1>Добро пожаловать на сайт по заказу фильмов и сериалов!</h1>
  <h1 >Представьтесь, пожалуйста</h1>
  <div class="col text-center">
    <button [routerLink]="['/main']" class="btn btn-info w-50 m-3"><h5>Пользователь</h5></button>
  </div>
  <div class="col text-center">
    <button [routerLink]="['/login-worker']" class="btn btn-info w-50 m-3"><h5>Работник</h5></button>
  </div>
  <div class="col text-center">
    <button  [routerLink]="['/login-admin']" class="btn btn-info w-50 m-3"><h5>Администратор</h5></button>
  </div>
</div>
