<div class="container">
  <div class = " mt-5 print-none">
    <app-worker-header></app-worker-header>
  </div>
  <h1 class="text-center mt-3 mb-5">Заказчики фильмов</h1>

  <input type="text" [(ngModel)]="srch" placeholder="Поиск по ФИО заказчика" class="form-control mt-3 mb-3 print-none">
  <table class="table">
    <thead class="thead-light">
    <tr>
      <th scope="col">Имя заказчика</th>
      <th scope="col">Телефон</th>
      <th scope="col">Email</th>
      <th scope="col">Фильм</th>
      <th scope="col">Цена фильма</th>
      <th scope="col">Адрес</th>
      <th scope="col">Дата</th>
      <th scope="col">Статус</th>
    </tr>
    </thead>
    <tbody  *ngFor="let customer of customers | filter:srch | sort:sortON" class="print-brake">
    <tr>
      <td>{{customer.name_customer}}</td>
      <td>{{customer.tel}}</td>
      <td>{{customer.email}}</td>
      <td>{{customer.film_name}}</td>
      <td>{{customer.film_price}}</td>
      <td>{{customer.address}}</td>
      <td>{{customer.date}}</td>
      <td>{{customer.status}}</td>
    </tr>
    </tbody>
  </table>
</div>
